# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# Flask
instance/
.webassets-cache

# Project specific
uploads/
*.pem
*.zip
*.png
!static/images/*.png

# Environment files
.env
.env.*

# Vercel
.vercel/
FUTURE_NFT.md
IDEAS.md
